@import url('https://fonts.googleapis.com/css2?family=Montserrat:ital,wght@0,100..900;1,100..900&display=swap');

.fixed-nav {
    position: fixed;
    top: 0;
    right: 0;
    left: 0;
    color: whitesmoke;
    padding: 20px 12px 20px 12px;
    z-index: 10;
    text-align: center;
    width: 100%;
    background-color: rgb(35, 35, 35, 0.8);
    display: flex;
    justify-content: flex-start;
    align-items: center;
    backdrop-filter: blur(20px);
    -webkit-backdrop-filter: blur(20px);
}

.nav-container {
    display: flex;
    align-items: center;
    width: 100%;
    justify-content: space-between;
    align-items: center;
    padding-left: 80px;
    padding-right: 80px;
}

#logo {
    height: 40px;
    display: flex;
    align-self: center;
}

body {
    color: whitesmoke;
    background-color: black;
    font-family: 'Montserrat', sans-serif;
    font-size: 12pt;
    font-weight: 400;
    line-height: 1.5;
    margin: 0;
    overflow-x: hidden;
}

a {
    color: #E6BE8A;
    text-transform: uppercase;
    text-decoration: none;
    font-weight: 400;
}

a:hover {
    color: whitesmoke;
    text-transform: uppercase;
    text-decoration: none;
    font-weight: 400;
}

h1 {
    color: whitesmoke;
    font-family: 'Montserrat', sans-serif;
    font-size: 36pt;
    font-weight: 400;
    line-height: normal;
    text-transform: uppercase;
}

h2 {
    color: whitesmoke;
    font-family: 'Montserrat', sans-serif;
    font-size: 24pt;
    font-weight: 400;
    line-height: normal;
    text-transform: uppercase;
}

h3 {
    color: whitesmoke;
    font-family: 'Montserrat', sans-serif;
    font-size: 12pt;
    font-weight: 400;
    line-height: 1.5;
    text-transform: uppercase;
    margin: 0;
}

header {
    background-color: #232323;
    height: 100vh;
    padding-left: 120px;
    padding-right: 120px;
    padding-top: 80px;
    padding-bottom: 80px;
    width: 100%;
    display: flex;
    justify-content: center;
    flex-direction: column;
    box-sizing: border-box;
}

.intro {
    display: flex;
    align-items: center;
    justify-content: space-between;
    flex-direction: row;
    box-sizing: border-box;
}

.bkkmain {
    max-width: 100%;
    max-height: 58vh;
    width: auto;
    height: auto;
    box-sizing: border-box;
    padding-bottom: 4vh;
    padding-right: 4vh;
}

.projecttable {
    width: 100%;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    overflow-y: auto;
}

table,
th,
td {
    border: 0.5px solid #E6BE8A;
    border-collapse: collapse;
}

thead {
    font-size: 10pt;
    text-transform: uppercase;
    vertical-align: middle;
    background-color: #E6BE8A;
    color: #232323;
    text-wrap-mode: nowrap;
}

tbody {
    font-size: 10pt;
    background-color: black;
    border: 0.5px solid #E6BE8A;
    border-collapse: collapse;
}

th {
    padding: 16px;
}

td {
    text-align: center;
    vertical-align: top;
    padding: 16pt;
}

.scroll-down-indicator {
    position: absolute;
    bottom: 20px;
    left: 50%;
    transform: translateX(-50%);
    animation: pulse1 1.5s infinite;
    z-index: 10;
    transition: opacity 0.3s ease;
}

.scroll-down-indicator img {
    height: 24px;
    width: auto;
}

@keyframes pulse1 {
    0% {
        transform: translateX(-50%) translateY(0);
        opacity: 1;
    }

    50% {
        transform: translateX(-50%) translateY(10px);
        opacity: 0.5;
    }

    100% {
        transform: translateX(-50%) translateY(0);
        opacity: 1;
    }
}

.theproject {
    height: 480px;
    background-color: #232323;
    margin-left: 120px;
    margin-right: 120px;
    margin-top: 120px;
    display: flex;
    flex-direction: row-reverse;
    align-items: center;
}

.projecttext {
    padding: 60px;
}

.projecttext h2 {
    margin: 0%;
}

.bkk1 {
    height: 480px;
    width: 40%;
    box-sizing: border-box;
    object-fit: cover;
    object-position: left;
}

.theconcept {
    max-height: 60vh;
    margin-left: 120px;
    margin-right: 120px;
    margin-top: 120px;
    display: flex;
    flex-direction: row;
    align-items: center;
}

.concepttext {
    padding: 60px;
}

.bkk2 {
    max-height: 60vh;
    height: auto;
    width: 40vh;
    box-sizing: border-box;
    object-fit: cover;
    object-position: left;
}

.keyobjective {
    margin-left: 120px;
    margin-right: 120px;
    margin-top: 120px;
    display: flex;
    flex-direction: column;
}

.allkey {
    display: flex;
    flex-direction: row;
    justify-content: center;
    gap: 60px;
    padding-top: 40px;
}

.key {
    max-width: 20vw;
    display: flex;
    flex-direction: column;
    align-content: flex-start;
    gap: 20px;
}

.key img {
    width: 100%;
    height: auto;
    flex-shrink: 0;
}

.key h3 {
    line-height: normal;
    text-align: center;
}

.theprogress {
    margin-left: 120px;
    margin-right: 120px;
    margin-top: 120px;
    display: flex;
    flex-direction: column;
}

.theprogress h3 {
    font-size: 20pt;
    font-weight: 400;
}

.bkkuser {
    width: 100%;
    height: auto;
    padding-bottom: 10vh;
    padding-top: 5vh;
}

.allresearch {
    width: 100%;
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    justify-content: center;
    align-items: center;
    gap: 60px;
    padding-bottom: 10vh;
    padding-top: 5vh;
}

.researchpair {
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    justify-content: center;
    align-items: center;
    gap: 60px;
}

.research {
    max-width: 200px;
    display: flex;
    flex-direction: column;
    align-content: flex-start;
    align-items: center;
    gap: 20px;
}

.research img {
    width: 100%;
    height: auto;
}

.research h3 {
    color: whitesmoke;
    font-family: 'Montserrat', sans-serif;
    font-size: 12pt;
    font-weight: 400;
    line-height: 1.5;
    text-transform: uppercase;
    margin: 0;
    text-align: center;
}

.alltest {
    display: flex;
    flex-direction: row;
    justify-content: center;
    padding-top: 5vh;
}

.alltest img {
    max-width: 26vw;
    width: 100%;
    height: auto;
}

.fullprogress {
    margin-left: 120px;
    margin-right: 120px;
    margin-top: 60px;
    padding-top: 40px;
    display: flex;
    justify-content: center;
}

.progressbutton {
    color: black;
    background-color: #E6BE8A;
    height: 40px;
    width: 400px;
    display: flex;
    align-items: center;
    justify-content: center;
}

.progressbutton:hover {
    background-color: whitesmoke;
}

.theresult {
    margin-left: 120px;
    margin-right: 120px;
    margin-top: 120px;
    display: flex;
    flex-direction: column;
}

.allscreens {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    gap: 60px;
    padding-top: 40px;
}

.screen {
    max-width: 280px;
    display: flex;
    flex-direction: column;
    gap: 20px;
}

.screen img {
    width: 100%;
    height: auto;
    flex-shrink: 0;
}

.screen h3 {
    line-height: normal;
    text-align: center;
}

.proto {
    background-color: #232323;
    margin-top: 120px;
    padding: 120px 120px 120px 120px;
    width: 100%;
    display: flex;
    justify-content: space-between;
    flex-direction: row;
    align-items: center;
    box-sizing: border-box;
}

.prototitle {
    display: flex;
    align-items: center;
    gap: 60px;
}

.prototitle .arrow {
    animation: pulse 1.5s infinite;
    z-index: 10;
    transition: opacity 0.3s ease;
    height: 24px;
    width: auto;
    transform: translateX(-50%);
}

@keyframes pulse {
    0% {
        transform: translateX(0) rotate(-90deg);
        opacity: 1;
    }

    50% {
        transform: translateX(10px) rotate(-90deg);
        opacity: 0.5;
    }

    100% {
        transform: translateX(0) rotate(-90deg);
        opacity: 1;
    }
}

.protoimg img {
    height: 60vh;
    width: auto;
    filter: drop-shadow(1px 1px 0 #E6BE8A) drop-shadow(-1px -1px 0 #E6BE8A) drop-shadow(-1px 1px 0 #E6BE8A) drop-shadow(1px -1px 0 #E6BE8A);
}

.protoimg img:hover {
    transform: scale(1.1);
    transition: all 0.3s ease;
    filter: drop-shadow(1px 1px 0 whitesmoke) drop-shadow(-1px -1px 0 whitesmoke) drop-shadow(-1px 1px 0 whitesmoke) drop-shadow(1px -1px 0 whitesmoke);
}

footer {
    background-color: #232323;
    padding-left: 120px;
    padding-right: 120px;
    padding-bottom: 80px;
    display: flex;
    align-items: flex-end;
    justify-content: space-between;
}

@media screen and (max-width: 1024px) {
    * {
        box-sizing: border-box;
    }

    .fixed-nav {
        background-color: #232323;
        padding: 12px 12px 12px 12px;
        width: 100%;
        overflow-x: hidden;
        box-sizing: border-box;
    }

    .nav-container {
        flex-direction: row;
        padding: 0;
        width: 100%;
        overflow-x: hidden;
        box-sizing: border-box;
    }

    header {
        padding-left: 5vw;
        padding-right: 5vw;
        min-height: 600px;
        height: 100%;
    }

    .intro {
        flex-direction: column;
        text-align: center;
        gap: 40px;
    }

    .bkkmain {
        max-width: 100%;
        min-width: 0;
        max-height: 480px;
        min-height: 0;
        width: auto;
        height: auto;
        box-sizing: border-box;
        padding-right: 0;
    }

    .projecttable {
        overflow-x: auto;
    }

    table {
        min-width: 600px;
    }

    h1 {
        font-size: 32pt;
    }

    h2 {
        font-size: 20pt;
    }

    body {
        font-size: 12pt;
        overflow-x: hidden;
    }

    tbody {
        font-size: 10pt;
    }

    .bkk1 {
        width: 100%;
        box-sizing: border-box;
        object-fit: cover;
        object-position: 50% 0%;
        overflow: hidden;
    }

    .projecttext {
        padding: 5vw;
        width: 100%;
    }

    .theproject {
        height: auto;
        display: flex;
        overflow-x: auto;
        -webkit-overflow-scrolling: touch;
        flex-direction: column-reverse;
        margin-left: 5vw;
        margin-right: 5vw;
        margin-top: 10vh;
    }

    .theconcept {
        max-height: none;
        height: auto;
        -webkit-overflow-scrolling: touch;
        flex-direction: column-reverse;
        margin-left: 5vw;
        margin-right: 5vw;
        margin-top: 10vh;
    }

    .concepttext {
        padding: 0 0 5vh 0;
    }

    .bkk2 {
        max-height: none;
        height: auto;
        width: 100%;
        box-sizing: border-box;
        object-fit: cover;
        object-position: left;
    }

    .keyobjective {
        margin-left: 5vw;
        margin-right: 5vw;
        margin-top: 10vh;
    }

    .allkey {
        display: flex;
        flex-direction: row;
        justify-content: center;
        flex-wrap: wrap;
        gap: 40px;
        padding-top: 40px;
    }

    .key {
        max-width: 200px;
        display: flex;
        flex-direction: column;
        gap: 20px;
    }

    .key img {
        max-height: 600px;
        width: auto;
        max-width: 100%;
    }

    .theprogress {
        margin-left: 5vw;
        margin-right: 5vw;
        margin-top: 10vh;
        gap: 3vh;
    }

    .theprogress h3 {
        font-size: 16pt;
        font-weight: 400;
    }

    .research h3 {
        color: whitesmoke;
        font-family: 'Montserrat', sans-serif;
        font-size: 12pt;
        font-weight: 400;
        line-height: 1.5;
        text-transform: uppercase;
        margin: 0;
        text-align: center;
    }

    .alltest {
        flex-direction: column;
        gap: 40px;
    }

    .alltest img {
        max-width: none;
        width: 100%;
        height: auto;
    }

    .fullprogress {
        margin-left: 5vw;
        margin-right: 5vw;
        margin-top: 10vh;
    }

    .theresult {
        margin-left: 5vw;
        margin-right: 5vw;
        margin-top: 10vh;
    }

    .allscreens {
        display: flex;
        flex-direction: row;
        justify-content: center;
        flex-wrap: wrap;
        gap: 40px;
        padding-top: 40px;
    }

    .screen {
        max-width: 200px;
        display: flex;
        flex-direction: column;
        gap: 20px;
    }

    .screen img {
        max-height: 600px;
        width: auto;
        max-width: 100%;
    }

    .proto {
        margin-top: 10vh;
        padding: 5vw;
        width: 100%;
        display: flex;
        justify-content: space-between;
        flex-direction: column;
        align-items: center;
        box-sizing: border-box;
    }

    .proto h1 {
        text-align: center;
    }

    .prototitle {
        display: flex;
        flex-direction: column;
        align-items: center;
        gap: 0;
        padding-bottom: 5vh;
    }

    .protoimg img {
        height: 50vh;
    }

    @keyframes pulse {
        0% {
            transform: translateY(0) rotate(0deg);
            opacity: 1;
        }

        50% {
            transform: translateY(10px) rotate(0deg);
            opacity: 0.5;
        }

        100% {
            transform: translateY(0) rotate(0deg);
            opacity: 1;
        }
    }

    footer {
        height: auto;
        padding-bottom: 20px;
        padding-top: 10vh;
        padding-left: 20px;
        padding-right: 20px;
        display: flex;
        justify-content: center;
    }
}