@import url('https://fonts.googleapis.com/css2?family=Montserrat:ital,wght@0,100..900;1,100..900&display=swap');

.fixed-nav {
    position: fixed;
    top: 0;
    right: 0;
    left: 0;
    color: whitesmoke;
    padding: 20px 12px 20px 12px;
    z-index: 10;
    text-align: center;
    width: 100%;
    background-color: rgb(35, 35, 35, 0.95);
    display: flex;
    justify-content: flex-start;
    align-items: center;
    backdrop-filter: blur(10px);
    -webkit-backdrop-filter: blur(10px);
}

.nav-container {
    display: flex;
    align-items: center;
    width: 100%;
    justify-content: space-between;
    align-items: center;
    padding-left: 80px;
    padding-right: 80px;
}

#logo {
    height: 40px;
    display: flex;
    align-self: center;
}

body {
    color: whitesmoke;
    background-color: black;
    font-family: 'Montserrat', sans-serif;
    font-size: 12pt;
    font-weight: 400;
    line-height: 1.5;
    margin: 0;
    overflow-x: hidden;
}

a {
    color: #E6BE8A;
    text-transform: uppercase;
    text-decoration: none;
    font-weight: 400;
}

a:hover {
    color: whitesmoke;
    text-transform: uppercase;
    text-decoration: none;
    font-weight: 400;
}

h1 {
    color: whitesmoke;
    font-family: 'Montserrat', sans-serif;
    font-size: 36pt;
    font-weight: 400;
    line-height: normal;
    text-transform: uppercase;
}

h2 {
    color: whitesmoke;
    font-family: 'Montserrat', sans-serif;
    font-size: 24pt;
    font-weight: 400;
    line-height: normal;
    text-transform: uppercase;
}

h3 {
    color: whitesmoke;
    font-family: 'Montserrat', sans-serif;
    font-size: 12pt;
    font-weight: 400;
    line-height: 1.5;
    text-transform: uppercase;
    margin: 0;
}

header {
    background-color: #232323;
    height: 100vh;
    padding-left: 120px;
    padding-right: 120px;
    padding-top: 80px;
    padding-bottom: 80px;
    width: 100%;
    display: flex;
    justify-content: space-between;
    flex-direction: column;
    box-sizing: border-box;
}

.intro {
    display: flex;
    align-items: center;
    justify-content: space-between;
    flex-direction: row;
    box-sizing: border-box;
}

.dontlookmain {
    max-width: 100%;
    max-height: 60vh;
    width: auto;
    height: auto;
    box-sizing: border-box;
    padding-bottom: 20px;
}

.projecttable {
    width: 100%;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
}

table,
th,
td {
    border: 0.5px solid #E6BE8A;
    border-collapse: collapse;
}

thead {
    font-size: 12pt;
    text-transform: uppercase;
    vertical-align: top;
    background-color: #E6BE8A;
    color: #232323;
}

tbody {
    font-size: 10pt;
    background-color: black;
    border: 0.5px solid #E6BE8A;
    border-collapse: collapse;
}

th {
    padding: 16px;
}

td {
    text-align: center;
    vertical-align: top;
    padding: 16pt;
}

.scroll-down-indicator {
    position: absolute;
    bottom: 20px;
    left: 50%;
    transform: translateX(-50%);
    animation: pulse 1.5s infinite;
    z-index: 10;
    transition: opacity 0.3s ease;
}

.scroll-down-indicator img {
    height: 24px;
    width: auto;
}

@keyframes pulse {
    0% {
        transform: translateX(-50%) translateY(0);
        opacity: 1;
    }

    50% {
        transform: translateX(-50%) translateY(10px);
        opacity: 0.5;
    }

    100% {
        transform: translateX(-50%) translateY(0);
        opacity: 1;
    }
}

.theproject {
    height: 480px;
    background-color: #232323;
    margin-left: 120px;
    margin-right: 120px;
    margin-top: 120px;
    display: flex;
    flex-direction: row;
    align-items: center;
}

.projecttext {
    padding: 60px;
}

.projecttext h2 {
    margin: 0%;
}

.stair2 {
    height: 480px;
    width: auto;
    box-sizing: border-box;
    object-fit: cover;
    object-position: center;
}

.thedatabase {
    background-color: #232323;
    margin-left: 120px;
    margin-right: 120px;
    margin-top: 120px;
    display: flex;
    flex-direction: column;
    align-items: center;
}

.datatext {
    padding: 60px;
}

.datatext h2 {
    margin: 0%;
}

.data {
    height: auto;
    width: 100%;
    box-sizing: border-box;
    object-fit: cover;
    object-position: center;
}

.theresult {
    height: 480px;
    margin-left: 120px;
    margin-right: 120px;
    margin-top: 120px;
    display: flex;
    flex-direction: row;
    align-items: center;
}

.resulttext {
    padding: 0px 60px 0px 0px;
}

.resulttext h2 {
    margin: 0%;
}

.stair1 {
    height: 480px;
    width: auto;
    box-sizing: border-box;
    object-fit: cover;
    object-position: center;
}

.theprompt {
    margin-left: 120px;
    margin-right: 120px;
    margin-top: 60px;
    display: flex;
    flex-direction: column;
    align-items: center;
}

.prompttext {
    padding: 0px 0px 60px 0px;
}

.prompt {
    height: auto;
    width: 100%;
    box-sizing: border-box;
    object-fit: cover;
    object-position: center;
}

.ars {
    margin-left: 120px;
    margin-right: 120px;
    margin-top: 120px;
    display: flex;
    flex-direction: column;
    align-items: center;
}

.arstext {
    padding-bottom: 60px;
}

.arstext h2 {
    margin: 0px;
}

.arsimg {
    width: 100%;
    max-height: 800px;
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    gap: 20px;
    overflow: hidden;
}

.arsi {
    width: 100%;
    box-sizing: border-box;
    object-fit: cover;
    object-position: center;
    overflow: hidden;
}

footer {
    height: 200px;
    padding-left: 120px;
    padding-right: 120px;
    padding-bottom: 80px;
    display: flex;
    align-items: flex-end;
    justify-content: space-between;
}

@media screen and (max-width: 1024px) {
    * {
        box-sizing: border-box;
        overflow-x: hidden;
    }

    .fixed-nav {
        background-color: #232323;
        padding: 12px 12px 12px 12px;
        width: 100%;
        overflow-x: hidden;
        box-sizing: border-box;
    }

    .nav-container {
        flex-direction: row;
        padding: 0;
        width: 100%;
        overflow-x: hidden;
        box-sizing: border-box;
    }

    header {
        padding-left: 20px;
        padding-right: 20px;
        min-height: 600px;
        height: 100%;
    }

    .intro {
        flex-direction: column;
        text-align: center;
        gap: 40px;
    }

    .dontlookmain {
        max-width: 100%;
        min-width: 0;
        max-height: 480px;
        min-height: 0;
        width: auto;
        height: auto;
        box-sizing: border-box;
    }

    .projecttable {
        overflow-x: auto;
    }

    table {
        min-width: 600px;
    }

    h1 {
        font-size: 32pt;
    }

    h2 {
        font-size: 20pt;
    }

    body {
        font-size: 12pt;
    }

    tbody {
        font-size: 10pt;
    }

    .stair2 {
        width: 100%;
        height: 50%;
        box-sizing: border-box;
        object-fit: cover;
        object-position: center;
        overflow: hidden;
    }

    .projecttext {
        padding: 40px;
        width: 100%;
    }

    .theproject {
        height: auto;
        display: flex;
        flex-direction: column-reverse;
        margin-left: 40px;
        margin-right: 40px;
        margin-top: 40px;
    }

    .data {
        overflow: hidden;
    }

    .datatext {
        padding: 40px;
        width: 100%;
    }

    .thedatabase {
        margin-left: 40px;
        margin-right: 40px;
        margin-top: 40px;
    }

    .stair1 {
        width: 100%;
        height: 50%;
        box-sizing: border-box;
        object-fit: cover;
        object-position: center;
        overflow: hidden;
    }

    .resulttext {
        padding: 0px 0px 40px 0px;
        width: 100%;
    }

    .theresult {
        height: auto;
        display: flex;
        flex-direction: column;
        margin-left: 40px;
        margin-right: 40px;
        margin-top: 40px;
    }

    .prompt {
        overflow: hidden;
    }

    .prompttext {
        padding: 0px 0px 40px 0px;
        width: 100%;
    }

    .theprompt {
        margin-left: 40px;
        margin-right: 40px;
        margin-top: 20px;
    }

    .ars {
        margin-left: 40px;
        margin-right: 40px;
        margin-top: 40px;
    }

    .arsimg {
        max-height: 100%;
        flex-direction: column;
    }

    footer {
        height: auto;
        padding-bottom: 20px;
        padding-top: 40px;
        padding-left: 20px;
        padding-right: 20px;
        display: flex;
        justify-content: center;
    }

}