@import url('https://fonts.googleapis.com/css2?family=Montserrat:ital,wght@0,100..900;1,100..900&display=swap');

.fixed-nav {
    position: fixed;
    top: 0;
    right: 0;
    left: 0;
    color: whitesmoke;
    padding: 20px 12px 20px 12px;
    z-index: 10;
    text-align: center;
    width: 100%;
    background-color: rgb(35, 35, 35, 0.8);
    display: flex;
    justify-content: flex-start;
    align-items: center;
    backdrop-filter: blur(20px);
    -webkit-backdrop-filter: blur(20px);
}

.nav-container {
    display: flex;
    align-items: center;
    width: 100%;
    justify-content: space-between;
    align-items: center;
    padding-left: 80px;
    padding-right: 80px;
}

#logo {
    height: 40px;
    display: flex;
    align-self: center;
}

body {
    color: whitesmoke;
    background-color: black;
    font-family: 'Montserrat', sans-serif;
    font-size: 12pt;
    font-weight: 400;
    line-height: 1.5;
    margin: 0;
    overflow-x: hidden;
}

a {
    color: #E6BE8A;
    text-transform: uppercase;
    text-decoration: none;
    font-weight: 400;
}

a:hover {
    color: whitesmoke;
    text-transform: uppercase;
    text-decoration: none;
    font-weight: 400;
}

h1 {
    color: whitesmoke;
    font-family: 'Montserrat', sans-serif;
    font-size: 36pt;
    font-weight: 400;
    line-height: normal;
    text-transform: uppercase;
}

h2 {
    color: whitesmoke;
    font-family: 'Montserrat', sans-serif;
    font-size: 24pt;
    font-weight: 400;
    line-height: normal;
    text-transform: uppercase;
}

h3 {
    color: whitesmoke;
    font-family: 'Montserrat', sans-serif;
    font-size: 14pt;
    font-weight: 400;
    line-height: 2;
    text-transform: uppercase;
    margin: 0;
}

header {
    background-color: #232323;
    height: 100vh;
    padding-left: 120px;
    padding-right: 120px;
    padding-top: 80px;
    padding-bottom: 80px;
    width: 100%;
    display: flex;
    justify-content: center;
    flex-direction: column;
    box-sizing: border-box;
}

.intro {
    display: flex;
    align-items: center;
    justify-content: space-between;
    flex-direction: row;
    box-sizing: border-box;
}

.map1 {
    max-width: 100%;
    max-height: 58vh;
    width: auto;
    height: auto;
    box-sizing: border-box;
    padding-bottom: 20px;
}

.projecttable {
    width: 100%;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    overflow-y: auto;
}

table,
th,
td {
    border: 0.5px solid #E6BE8A;
    border-collapse: collapse;
}

thead {
    font-size: 10pt;
    text-transform: uppercase;
    vertical-align: middle;
    background-color: #E6BE8A;
    color: #232323;
    text-wrap-mode: nowrap;
}

tbody {
    font-size: 10pt;
    background-color: black;
    border: 0.5px solid #E6BE8A;
    border-collapse: collapse;
}

th {
    padding: 16px;
}

td {
    text-align: center;
    vertical-align: top;
    padding: 16pt;
}

.scroll-down-indicator {
    position: absolute;
    bottom: 20px;
    left: 50%;
    transform: translateX(-50%);
    animation: pulse 1.5s infinite;
    z-index: 10;
    transition: opacity 0.3s ease;
}

.scroll-down-indicator img {
    height: 24px;
    width: auto;
}

@keyframes pulse {
    0% {
        transform: translateX(-50%) translateY(0);
        opacity: 1;
    }

    50% {
        transform: translateX(-50%) translateY(10px);
        opacity: 0.5;
    }

    100% {
        transform: translateX(-50%) translateY(0);
        opacity: 1;
    }
}

.theproject {
    height: 480px;
    background-color: #232323;
    margin-left: 120px;
    margin-right: 120px;
    margin-top: 120px;
    display: flex;
    flex-direction: row;
    align-items: center;
}

.projecttext {
    padding: 60px;
    width: 50%;
}

.projecttext h2 {
    margin: 0%;
}

.map2 {
    height: 480px;
    width: 50%;
    box-sizing: border-box;
    object-fit: cover;
    object-position: center;
    overflow: hidden;
}

.theprocess {
    max-height: 400px;
    margin-left: 120px;
    margin-right: 120px;
    margin-top: 120px;
    display: flex;
    flex-direction: row;
    align-items: center;
}

.processtext {
    padding: 60px;
    width: 50%;
}

.processtext h2 {
    margin: 0%;
}

.mapprocess {
    max-height: 400px;
    width: 50%;
}

.doublediamond {
    padding: 120px;
}

.doublediamond img {
    display: block;
    margin-left: auto;
    margin-right: auto;
    width: 80%;
    padding-top: 40px;
}

.diamond1 {
    max-height: 360px;
    padding-left: 260px;
    padding-right: 260px;
    display: flex;
    flex-direction: row;
    padding-bottom: 80px;
}

.diamond1 img {
    max-height: 360px;
    width: auto;
    max-width: 100%;
}

.diamond1inf {
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    max-width: 400px;
    padding-left: 40px;
    text-align: end;
}

.diamond1inf img {
    width: 100%;
    box-sizing: border-box;
    object-fit: cover;
    object-position: center;
    overflow: hidden;
    padding-top: 20px;
}

.diamond2 {
    max-height: 360px;
    padding-right: 260px;
    padding-right: 260px;
    padding-bottom: 80px;
    display: flex;
    flex-direction: row;
    justify-content: flex-end;
}

.diamond2 img {
    max-height: 360px;
    width: auto;
    max-width: 100%;
}

.diamond2inf {
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    max-width: 400px;
    padding-right: 40px;
}

.diamond2inf img {
    width: 100%;
    box-sizing: border-box;
    object-fit: cover;
    object-position: center;
    overflow: hidden;
    padding-top: 20px;
}

.diamond3 {
    max-height: 360px;
    padding-left: 260px;
    padding-right: 260px;
    display: flex;
    flex-direction: row;
    padding-bottom: 80px;
}

.diamond3 img {
    max-height: 360px;
    width: auto;
    max-width: 100%;
}

.diamond3inf {
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    max-width: 400px;
    padding-left: 40px;
    text-align: end;
}

.diamond3inf img {
    width: 100%;
    box-sizing: border-box;
    object-fit: cover;
    object-position: center;
    overflow: hidden;
    padding-top: 20px;
}

.diamond4 {
    max-height: 360px;
    padding-right: 260px;
    padding-right: 260px;
    padding-bottom: 80px;
    display: flex;
    flex-direction: row;
    justify-content: flex-end;
}

.diamond4 img {
    max-height: 360px;
    width: auto;
    max-width: 100%;
}

.diamond4inf {
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    max-width: 400px;
    padding-right: 40px;
}

.diamond4inf img {
    width: 100%;
    box-sizing: border-box;
    object-fit: cover;
    object-position: center;
    overflow: hidden;
    padding-top: 20px;
}

.presentation {
    max-height: 40px;
    padding: 120px;
    width: 100%;
    display: flex;
    align-items: center;
    justify-content: space-between;
    flex-direction: row;
    gap: 20px;
    box-sizing: border-box;
}

.presentation h2 {
    text-align: center;
}

.line {
    background-color: #E6BE8A;
    height: 2px;
    width: max-content;
    flex-grow: 1;
    box-sizing: border-box;
}

.theresult {
    margin-left: 120px;
    margin-right: 120px;
    display: flex;
    flex-direction: column;
}

.allscreens {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    gap: 20px;
    padding-top: 40px;
}

.screen {
    display: flex;
    flex-direction: column;
    gap: 20px;
}

.screen img {
    max-height: 600px;
    width: auto;
    max-width: 100%;
}

.screen h3 {
    line-height: normal;
    text-align: center;
}

footer {
    height: 200px;
    padding-left: 120px;
    padding-right: 120px;
    padding-bottom: 80px;
    display: flex;
    align-items: flex-end;
    justify-content: space-between;
}

@media screen and (max-width: 1024px) {
    * {
        box-sizing: border-box;
    }

    .fixed-nav {
        background-color: #232323;
        padding: 12px 12px 12px 12px;
        width: 100%;
        overflow-x: hidden;
        box-sizing: border-box;
    }

    .nav-container {
        flex-direction: row;
        padding: 0;
        width: 100%;
        overflow-x: hidden;
        box-sizing: border-box;
    }

    header {
        padding-left: 5vw;
        padding-right: 5vw;
        min-height: 600px;
        height: 100%;
    }

    .intro {
        flex-direction: column;
        text-align: center;
        gap: 40px;
    }

    .map1 {
        max-width: 100%;
        min-width: 0;
        max-height: 480px;
        min-height: 0;
        width: auto;
        height: auto;
        box-sizing: border-box;
    }

    .projecttable {
        overflow-x: auto;
        -webkit-overflow-scrolling: touch;
    }

    table {
        min-width: 600px;
    }

    h1 {
        font-size: 32pt;
    }

    h2 {
        font-size: 20pt;
    }

    h3 {
        font-size: 10pt;
    }

    body {
        font-size: 12pt;
        overflow-x: hidden;
    }

    tbody {
        font-size: 10pt;
    }

    .map2 {
        width: 100%;
        height: 50%;
        box-sizing: border-box;
        object-fit: cover;
        object-position: center;
        overflow: hidden;
    }

    .projecttext {
        padding: 5vw;
        width: 100%;
    }

    .theproject {
        height: auto;
        display: flex;
        flex-direction: column;
        margin-left: 5vw;
        margin-right: 5vw;
        margin-top: 10vh;
    }

    .processtext {
        padding: 0;
        width: 100%;
        height: auto;
    }

    .theprocess {
        height: auto;
        max-height: none;
        display: flex;
        flex-direction: column-reverse;
        margin-left: 5vw;
        margin-right: 5vw;
        margin-top: 10vh;
    }

    .mapprocess {
        height: auto;
        max-height: none;
        width: 100%;
    }

    .doublediamond {
        padding-left: 5vw;
        padding-right: 5vw;
        padding-top: 10vh;
        padding-bottom: 5vh;
    }

    .doublediamond img {
        width: 100%;
    }

    .diamond1,
    .diamond3 {
        padding-left: 5vw;
        padding-right: 5vw;
        padding-bottom: 5vh;
        max-height: none;
        display: flex;
        align-items: center;
        justify-content: flex-start;
        gap: 4px;
        max-width: 100vw;
    }

    .diamond2,
    .diamond4 {
        padding-left: 5vw;
        padding-right: 5vw;
        padding-bottom: 5vh;
        max-height: none;
        display: flex;
        gap: 4px;
        width: 100%;
        max-width: 100vw;
        align-items: center;
        justify-content: flex-end;
        margin-left: auto;
    }

    .diamond1 img,
    .diamond2 img,
    .diamond3 img,
    .diamond4 img {
        max-height: 20vh;
        height: 100%;
        width: auto;
    }

    .diamond1inf,
    .diamond3inf {
        padding-left: 20px;
        gap: 2vh;
        width: 100%;
        max-width: 100%;
        text-align: start;
    }

    .diamond2inf,
    .diamond4inf {
        padding-right: 20px;
        gap: 2vh;
        width: 100%;
        max-width: 100%;
        text-align: end;
    }

    .diamond1inf h3,
    .diamond2inf h3,
    .diamond3inf h3,
    .diamond4inf h3 {
        font-size: 2vh;
    }


    .diamond1inf img,
    .diamond2inf img,
    .diamond3inf img,
    .diamond4inf img {
        display: none;
    }

    .presentation {
        padding-left: 5vw;
        padding-right: 5vw;
        padding-bottom: 5vh;
        padding-top: 5vh;
        max-height: none;
        gap: 20px;
    }

    .presentation h2 {
        font-size: 14pt;
    }

    .line {
        width: auto;
        height: 2px;
    }

    .theresult {
        margin-left: 5vw;
        margin-right: 5vw;
        margin-top: 5vh;
    }

    .allscreens {
        display: flex;
        flex-direction: row;
        justify-content: center;
        flex-wrap: wrap;
        gap: 40px;
        padding-top: 5vh;
    }

    .screen {
        max-width: 200px;
        display: flex;
        flex-direction: column;
        gap: 20px;
    }

    .screen img {
        max-height: 600px;
        width: auto;
        max-width: 100%;
    }

    footer {
        height: auto;
        padding-bottom: 20px;
        padding-top: 10vh;
        padding-left: 20px;
        padding-right: 20px;
        display: flex;
        justify-content: center;
    }


}