@import url('https://fonts.googleapis.com/css2?family=Montserrat:ital,wght@0,100..900;1,100..900&display=swap');

.fixed-nav {
    position: fixed;
    top: 0;
    right: 0;
    left: 0;
    color: whitesmoke;
    padding: 20px 12px 20px 12px;
    z-index: 10;
    text-align: center;
    width: 100%;
    background-color: rgb(35, 35, 35, 0.8);
    display: flex;
    justify-content: flex-start;
    align-items: center;
    backdrop-filter: blur(20px);
    -webkit-backdrop-filter: blur(20px);
}

.nav-container {
    display: flex;
    align-items: center;
    width: 100%;
    justify-content: space-between;
    align-items: center;
    padding-left: 80px;
    padding-right: 80px;
}

#logo {
    height: 40px;
    display: flex;
    align-self: center;
}

body {
    color: whitesmoke;
    background-color: black;
    font-family: 'Montserrat', sans-serif;
    font-size: 12pt;
    font-weight: 400;
    line-height: 1.5;
    margin: 0;
    overflow-x: hidden;
}

a {
    color: #E6BE8A;
    text-transform: uppercase;
    text-decoration: none;
    font-weight: 400;
}

a:hover {
    color: whitesmoke;
    text-transform: uppercase;
    text-decoration: none;
    font-weight: 400;
}

h1 {
    color: whitesmoke;
    font-family: 'Montserrat', sans-serif;
    font-size: 36pt;
    font-weight: 400;
    line-height: normal;
    text-transform: uppercase;
}

h2 {
    color: whitesmoke;
    font-family: 'Montserrat', sans-serif;
    font-size: 24pt;
    font-weight: 400;
    line-height: normal;
    text-transform: uppercase;
}

h3 {
    color: whitesmoke;
    font-family: 'Montserrat', sans-serif;
    font-size: 12pt;
    font-weight: 400;
    line-height: 1.5;
    text-transform: uppercase;
    margin: 0;
}

header {
    background-color: #232323;
    height: 100vh;
    padding-left: 120px;
    padding-right: 120px;
    padding-top: 80px;
    padding-bottom: 80px;
    width: 100%;
    display: flex;
    justify-content: space-between;
    flex-direction: column;
    box-sizing: border-box;
}

.intro {
    display: flex;
    align-items: center;
    justify-content: space-between;
    flex-direction: row;
    box-sizing: border-box;
}

.newsmain {
    max-width: 100%;
    max-height: 58vh;
    width: auto;
    height: auto;
    box-sizing: border-box;
    padding-bottom: 20px;
}

.projecttable {
    width: 100%;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    overflow-y: auto;
}

table,
th,
td {
    border: 0.5px solid #E6BE8A;
    border-collapse: collapse;
}

thead {
    font-size: 10pt;
    text-transform: uppercase;
    vertical-align: middle;
    background-color: #E6BE8A;
    color: #232323;
    text-wrap-mode: nowrap;
}

tbody {
    font-size: 10pt;
    background-color: black;
    border: 0.5px solid #E6BE8A;
    border-collapse: collapse;
}

th {
    padding: 16px;
}

td {
    text-align: center;
    vertical-align: top;
    padding: 16pt;
}

.scroll-down-indicator {
    position: absolute;
    bottom: 20px;
    left: 50%;
    transform: translateX(-50%);
    animation: pulse1 1.5s infinite;
    z-index: 10;
    transition: opacity 0.3s ease;
}

.scroll-down-indicator img {
    height: 24px;
    width: auto;
}

@keyframes pulse1 {
    0% {
        transform: translateX(-50%) translateY(0);
        opacity: 1;
    }

    50% {
        transform: translateX(-50%) translateY(10px);
        opacity: 0.5;
    }

    100% {
        transform: translateX(-50%) translateY(0);
        opacity: 1;
    }
}

.theproject {
    background-color: #232323;
    margin-left: 120px;
    margin-right: 120px;
    margin-top: 120px;
    display: flex;
    flex-direction: column-reverse;
    align-items: center;
}

.projecttext {
    padding: 60px;
}

.projecttext h2 {
    margin: 0%;
}

.news2 {
    height: 40vh;
    width: 100%;
    box-sizing: border-box;
    object-fit: cover;
    object-position: center;
}

.theideation {
    margin-left: 120px;
    margin-right: 120px;
    margin-top: 120px;
    gap: 4vh;
    display: flex;
    flex-direction: column;
}

.theideation h2 {
    line-height: 0;
}

.theideation h3 {
    font-size: 20pt;
    font-weight: 400;
}

.ecosystem {
    width: 100%;
    height: auto;
}

.problems {
    display: flex;
    flex-direction: row;
    gap: 60px;
    align-items: flex-start;
    justify-content: center;
}

.problems h3 {
    font-size: 16pt;
    font-weight: 400;
}

.problemsimg {
    max-width: 1000px;
    width: 50%;
    height: auto;
    flex-shrink: 0;
}

.conceptfull {
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    align-content: space-between;
    gap: 40px;
}

.conceptbox {
    display: flex;
    flex-direction: row;
    gap: 10px;
    align-items: center;
}

.conceptbox h4 {
    font-size: 32pt;
    font-weight: 600;
    white-space: nowrap;
    min-width: 100px;
    text-transform: uppercase;
    margin: 0;
    text-align: center;
}

.line {
    background-color: #E6BE8A;
    width: 2px;
    align-self: stretch;
    flex-shrink: 0;
}

.conceptbox p {
    font-size: 12pt;
    padding-left: 20px;
    line-height: 1.6;
    margin: 0;
}

.research {
    display: flex;
    flex-direction: row;
    gap: 60px;
    align-items: flex-start;
    justify-content: center;
}

.research h3 {
    font-size: 16pt;
    font-weight: 400;
}

.interviewfull {
    width: 50%;
}

.interviewfull h4 {
    text-transform: uppercase;
}

.interviewbox {
    padding-bottom: 10px;
}

.findingfull {
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    align-content: space-between;
    gap: 40px;
}

.findingbox {
    display: flex;
    flex-direction: row;
    gap: 10px;
    align-items: center;
}

.findingbox h4 {
    font-size: 32pt;
    font-weight: 600;
    white-space: nowrap;
    min-width: 100px;
    text-transform: uppercase;
    margin: 0;
    text-align: center;
}

.findingbox p {
    font-size: 12pt;
    padding-left: 20px;
    line-height: 1.6;
    margin: 0;
}

.fullideation {
    margin-left: 120px;
    margin-right: 120px;
    margin-top: 60px;
    display: flex;
    justify-content: center;
}

.ideationbutton {
    color: black;
    background-color: #E6BE8A;
    height: 40px;
    width: 400px;
    display: flex;
    align-items: center;
    justify-content: center;

}

.ideationbutton:hover {
    background-color: whitesmoke;
}

.theprogress {
    margin-left: 120px;
    margin-right: 120px;
    margin-top: 120px;
    gap: 4vh;
    display: flex;
    flex-direction: column;
}

.theprogress h2 {
    line-height: 0;
}

.theprogress h3 {
    font-size: 20pt;
    font-weight: 400;
}

.service {
    width: 100%;
    height: auto;
}

.ia {
    width: 100%;
    height: auto;
}

.low {
    width: 100%;
    height: auto;
}

.fullprogress {
    margin-left: 120px;
    margin-right: 120px;
    margin-top: 60px;
    padding-top: 40px;
    display: flex;
    justify-content: center;
}

.progressbutton {
    color: black;
    background-color: #E6BE8A;
    height: 40px;
    width: 400px;
    display: flex;
    align-items: center;
    justify-content: center;

}

.progressbutton:hover {
    background-color: whitesmoke;
}

.theresult {
    margin-left: 120px;
    margin-right: 120px;
    margin-top: 120px;
    display: flex;
    flex-direction: column;
}

.allscreens {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    gap: 20px;
    padding-top: 40px;
}

.screen {
    max-width: 280px;
    display: flex;
    flex-direction: column;
    gap: 20px;
}

.screen img {
    width: 100%;
    height: auto;
    flex-shrink: 0;
}

.screen h3 {
    line-height: normal;
    text-align: center;
}

.theredesign {
    background-color: #232323;
    margin-left: 120px;
    margin-right: 120px;
    margin-top: 120px;
    display: flex;
    flex-direction: column;
    align-items: flex-start;
}

.theredesign h2 {
    padding: 60px 60px 0px 60px;
}

.theredesign p {
    padding: 0px 60px 0px 60px;
}

.redesignimg {
    padding: 40px 60px 60px 60px;
    width: auto;
    max-height: 800px;
    display: flex;
    flex-direction: row;
    justify-content: center;
    gap: 10vw;
}

.redesignimg img {
    width: 100%;
    box-sizing: border-box;
    object-fit: cover;
    object-position: center;
    overflow: hidden;
}

.proto {
    background-color: #232323;
    margin-top: 120px;
    padding: 120px;
    width: 100%;
    display: flex;
    justify-content: space-between;
    flex-direction: row;
    align-items: center;
    box-sizing: border-box;
}

.prototitle {
    display: flex;
    align-items: center;
    gap: 60px;
}

.arrow {
    animation: pulse 1.5s infinite;
    z-index: 10;
    transition: opacity 0.3s ease;
    height: 24px;
    width: auto;
    transform: translateX(-50%);
}

@keyframes pulse {
    0% {
        transform: translateX(0) rotate(-90deg);
        opacity: 1;
    }

    50% {
        transform: translateX(10px) rotate(-90deg);
        opacity: 0.5;
    }

    100% {
        transform: translateX(0) rotate(-90deg);
        opacity: 1;
    }
}

.protos {
    display: flex;
    flex-direction: row;
    gap: 4vw;
}

.protoimg {
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 4vh;
}

.protoimg img {
    height: 60vh;
    width: auto;
    filter: drop-shadow(1px 1px 0 #E6BE8A) drop-shadow(-1px -1px 0 #E6BE8A) drop-shadow(-1px 1px 0 #E6BE8A) drop-shadow(1px -1px 0 #E6BE8A);
}

.protoimg img:hover {
    transform: scale(1.1);
    transition: all 0.3s ease;
    filter: drop-shadow(1px 1px 0 whitesmoke) drop-shadow(-1px -1px 0 whitesmoke) drop-shadow(-1px 1px 0 whitesmoke) drop-shadow(1px -1px 0 whitesmoke);
}

.protoimg h3 {
    font-size: 2vh;
}

footer {
    background-color: #232323;
    height: 200px;
    padding-left: 120px;
    padding-right: 120px;
    padding-bottom: 80px;
    display: flex;
    align-items: flex-end;
    justify-content: space-between;
}

@media screen and (max-width: 1024px) {
    * {
        box-sizing: border-box;
    }

    .fixed-nav {
        background-color: #232323;
        padding: 12px 12px 12px 12px;
        width: 100%;
        overflow-x: hidden;
        box-sizing: border-box;
    }

    .nav-container {
        flex-direction: row;
        padding: 0;
        width: 100%;
        overflow-x: hidden;
        box-sizing: border-box;
    }

    header {
        padding-left: 20px;
        padding-right: 20px;
        min-height: 600px;
        height: 100%;
    }

    .intro {
        flex-direction: column;
        text-align: center;
        gap: 40px;
    }

    .newsmain {
        max-width: 100%;
        min-width: 0;
        max-height: 480px;
        min-height: 0;
        width: auto;
        height: auto;
        box-sizing: border-box;
    }

    .projecttable {
        overflow-x: auto;
    }

    table {
        min-width: 600px;
    }

    h1 {
        font-size: 32pt;
    }

    h2 {
        font-size: 20pt;
    }

    body {
        font-size: 12pt;
        overflow-x: hidden;
    }

    tbody {
        font-size: 10pt;
    }

    .news2 {
        overflow: hidden;
    }

    .projecttext {
        padding: 40px;
        width: 100%;
    }

    .theproject {
        height: auto;
        display: flex;
        overflow-x: auto;
        -webkit-overflow-scrolling: touch;
        flex-direction: column-reverse;
        margin-left: 40px;
        margin-right: 40px;
        margin-top: 40px;
    }

    .theideation {
        margin-left: 40px;
        margin-right: 40px;
        margin-top: 40px;
    }

    .theideation h3 {
        font-size: 16pt;
        font-weight: 400;
    }

    .problems {
        flex-direction: column;
        align-items: center;
    }

    .problems h3 {
        font-size: 14pt;
    }

    .problemsimg {
        width: 100%;
    }

    .conceptfull {
        max-width: 640px;
    }

    .conceptbox h4 {
        font-size: 24pt;
        min-width: 60px;
    }

    .conceptbox p {
        padding-left: 10px;
    }

    .research {
        flex-direction: column;
        align-items: center;
    }

    .findingfull {
        max-width: 640px;
    }

    .research h3 {
        font-size: 14pt;
    }

    .findingbox h4 {
        font-size: 24pt;
        min-width: 60px;
    }

    .findingbox p {
        padding-left: 10px;
    }

    .interviewfull {
        width: 100%;
    }

    .fullideation {
        margin-left: 40px;
        margin-right: 40px;
        margin-top: 20px;
    }

    .theprogress {
        margin-left: 40px;
        margin-right: 40px;
        margin-top: 40px;
    }

    .theprogress h3 {
        font-size: 16pt;
        font-weight: 400;
    }

    .fullprogress {
        margin-left: 40px;
        margin-right: 40px;
        margin-top: 20px;
    }

    .theresult {
        margin-left: 40px;
        margin-right: 40px;
    }

    .allscreens {
        display: flex;
        flex-direction: row;
        justify-content: center;
        flex-wrap: wrap;
        gap: 40px;
        padding-top: 40px;
    }

    .screen {
        max-width: 200px;
        display: flex;
        flex-direction: column;
        gap: 20px;
    }

    .screen img {
        max-height: 600px;
        width: auto;
        max-width: 100%;
    }

    .theredesign {
        margin-left: 40px;
        margin-right: 40px;
        margin-top: 20px;
    }

    .theredesign h2 {
        padding: 40px 40px 0px 40px;
    }

    .theredesign p {
        padding: 0px 40px 0px 40px;
    }

    .redesignimg {
        padding: 20px 40px 40px 40px;
        width: 80%;
        height: auto;
        display: flex;
        flex-direction: column;
        align-self: center;
        gap: 20px;
    }

    .redesignimg img {
        width: 100%;
        box-sizing: border-box;
        object-fit: contain;
        object-position: center;
        overflow: none;
    }

    .proto {
        margin-top: 40px;
        padding: 40px;
        width: 100%;
        display: flex;
        justify-content: space-between;
        flex-direction: column;
        align-items: center;
        box-sizing: border-box;
    }

    .proto h1 {
        text-align: center;
    }

    .prototitle {
        display: flex;
        flex-direction: column;
        align-items: center;
        gap: 20px;
        padding-bottom: 40px;
    }

    @keyframes pulse {
        0% {
            transform: translateY(0) rotate(0deg);
            opacity: 1;
        }

        50% {
            transform: translateY(10px) rotate(0deg);
            opacity: 0.5;
        }

        100% {
            transform: translateY(0) rotate(0deg);
            opacity: 1;
        }
    }

    .protos {
        gap: 4vw;
    }

    .protoimg img {
        height: 30vh;
    }

    footer {
        height: auto;
        padding-bottom: 20px;
        padding-top: 40px;
        padding-left: 20px;
        padding-right: 20px;
        display: flex;
        justify-content: center;
    }
}