@import url('https://fonts.googleapis.com/css2?family=Montserrat:ital,wght@0,100..900;1,100..900&display=swap');

.fixed-nav {
    position: fixed;
    top: 0;
    right: 0;
    left: 0;
    color: whitesmoke;
    padding: 20px 12px 20px 12px;
    z-index: 10;
    text-align: center;
    width: 100%;
    background-color: rgb(35, 35, 35, 0.8);
    display: flex;
    justify-content: flex-start;
    align-items: center;
    backdrop-filter: blur(20px);
    -webkit-backdrop-filter: blur(20px);
}

.nav-container {
    display: flex;
    align-items: center;
    width: 100%;
    justify-content: space-between;
    align-items: center;
    padding-left: 80px;
    padding-right: 80px;
}

#logo {
    height: 40px;
    display: flex;
    align-self: center;
}

body {
    color: whitesmoke;
    background-color: black;
    font-family: 'Montserrat', sans-serif;
    font-size: 12pt;
    font-weight: 400;
    line-height: 1.5;
    margin: 0;
    overflow-x: hidden;
}

a {
    color: #E6BE8A;
    text-transform: uppercase;
    text-decoration: none;
    font-weight: 400;
}

a:hover {
    color: whitesmoke;
    text-transform: uppercase;
    text-decoration: none;
    font-weight: 400;
}

h1 {
    color: whitesmoke;
    font-family: 'Montserrat', sans-serif;
    font-size: 36pt;
    font-weight: 400;
    line-height: normal;
    text-transform: uppercase;
}

h2 {
    color: whitesmoke;
    font-family: 'Montserrat', sans-serif;
    font-size: 24pt;
    font-weight: 400;
    line-height: normal;
    text-transform: uppercase;
}

h3 {
    color: whitesmoke;
    font-family: 'Montserrat', sans-serif;
    font-size: 12pt;
    font-weight: 400;
    line-height: 1.5;
    text-transform: uppercase;
    margin: 0;
}

header {
    background-color: #232323;
    height: 100vh;
    padding-left: 120px;
    padding-right: 120px;
    padding-top: 80px;
    padding-bottom: 80px;
    width: 100%;
    display: flex;
    justify-content: space-between;
    flex-direction: column;
    box-sizing: border-box;
}

.intro {
    display: flex;
    align-items: center;
    justify-content: space-between;
    flex-direction: row;
    box-sizing: border-box;
}

.niumain {
    max-width: 100%;
    max-height: 58vh;
    width: auto;
    height: auto;
    box-sizing: border-box;
    padding-bottom: 20px;
}

.projecttable {
    width: 100%;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    overflow-y: auto;
}

table,
th,
td {
    border: 0.5px solid #E6BE8A;
    border-collapse: collapse;
}

thead {
    font-size: 10pt;
    text-transform: uppercase;
    vertical-align: middle;
    background-color: #E6BE8A;
    color: #232323;
    text-wrap-mode: nowrap;
}

tbody {
    font-size: 10pt;
    background-color: black;
    border: 0.5px solid #E6BE8A;
    border-collapse: collapse;
}

th {
    padding: 16px;
}

td {
    text-align: center;
    vertical-align: top;
    padding: 16pt;
}

.scroll-down-indicator {
    position: absolute;
    bottom: 20px;
    left: 50%;
    transform: translateX(-50%);
    animation: pulse1 1.5s infinite;
    z-index: 10;
    transition: opacity 0.3s ease;
}

.scroll-down-indicator img {
    height: 24px;
    width: auto;
}

@keyframes pulse1 {
    0% {
        transform: translateX(-50%) translateY(0);
        opacity: 1;
    }

    50% {
        transform: translateX(-50%) translateY(10px);
        opacity: 0.5;
    }

    100% {
        transform: translateX(-50%) translateY(0);
        opacity: 1;
    }
}

.theproject {
    height: 480px;
    background-color: #232323;
    margin-left: 120px;
    margin-right: 120px;
    margin-top: 120px;
    display: flex;
    flex-direction: row-reverse;
    align-items: center;
}

.projecttext {
    padding: 60px;
}

.projecttext h2 {
    margin: 0%;
}

.niu1 {
    height: 480px;
    width: 40%;
    box-sizing: border-box;
    object-fit: cover;
    object-position: left;
}

.thebrief {
    margin-top: 120px;
    margin-left: 120px;
    margin-right: 120px;
}

.thebrief h3 {
    font-size: 20pt;
    font-weight: 400;
    padding-top: 40px;
}

.thebrief img {
    width: 80%;
    height: auto;
    padding-top: 40px;
    display: block;
    margin-left: auto;
    margin-right: auto;
}

.theprocess {
    margin-top: 120px;
    margin-left: 120px;
    margin-right: 120px;
}

.theprocess h3 {
    font-size: 20pt;
    font-weight: 400;
    padding-top: 40px;
}

.theprocess h4 {
    font-size: 16pt;
    font-weight: 400;
    text-transform: uppercase;
    padding-top: 40px;
}

.theprocess img {
    width: 80%;
    height: auto;
    display: block;
    margin-left: auto;
    margin-right: auto;
}

.lowall {
    width: 100%;
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    justify-content: center;
    align-items: center;
    gap: 40px;
    padding-top: 40px;
}

.lowpair {
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    justify-content: center;
    align-items: center;
    gap: 40px;
}

.lowpair img {
    max-width: 350px;
    width: 100%;
    height: auto;
    padding-top: 0;
}

.designsystem {
    width: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: row;
    gap: 40px;
}

.designsystem img {
    max-width: 600px;
    min-width: 100px;
    max-height: 450px;
    width: 100%;
    height: auto;
    padding-top: 0;
}

.designsystem h4 {
    padding: 0;
}

.colors {
    display: flex;
    flex-direction: column;
    object-fit: contain;
}

.primary {
    display: flex;
    flex-direction: column;
}


.secondary {
    display: flex;
    flex-direction: column;
}

.element {
    display: flex;
    flex-direction: column;
}

footer {
    background-color: #232323;
    height: 200px;
    padding-left: 120px;
    padding-right: 120px;
    padding-bottom: 80px;
    display: flex;
    align-items: flex-end;
    justify-content: space-between;
}

@media screen and (max-width: 1024px) {
    * {
        box-sizing: border-box;
    }

    .fixed-nav {
        background-color: #232323;
        padding: 12px 12px 12px 12px;
        width: 100%;
        overflow-x: hidden;
        box-sizing: border-box;
    }

    .nav-container {
        flex-direction: row;
        padding: 0;
        width: 100%;
        overflow-x: hidden;
        box-sizing: border-box;
    }

    header {
        padding-left: 5vw;
        padding-right: 5vw;
        min-height: 600px;
        height: 100%;
    }

    .intro {
        flex-direction: column;
        text-align: center;
        gap: 40px;
    }

    .niumain {
        max-width: 100%;
        min-width: 0;
        max-height: 480px;
        min-height: 0;
        width: auto;
        height: auto;
        box-sizing: border-box;
    }

    .projecttable {
        overflow-x: auto;
    }

    table {
        min-width: 600px;
    }

    h1 {
        font-size: 32pt;
    }

    h2 {
        font-size: 20pt;
    }

    body {
        font-size: 12pt;
        overflow-x: hidden;
    }

    tbody {
        font-size: 10pt;
    }

    .niu1 {
        width: 100%;
        height: 50%;
        box-sizing: border-box;
        object-fit: cover;
        object-position: center;
        overflow: hidden;
    }

    .projecttext {
        padding: 5vw;
        width: 100%;
    }

    .theproject {
        height: auto;
        display: flex;
        overflow-x: auto;
        -webkit-overflow-scrolling: touch;
        flex-direction: column-reverse;
        margin-left: 5vw;
        margin-right: 5vw;
        margin-top: 10vh;
    }

    .thebrief {
        margin-left: 5vw;
        margin-right: 5vw;
        margin-top: 10vh;
    }

    .thebrief h3 {
        font-size: 16pt;
        padding-top: 5vh;
    }

    .thebrief img {
        padding-top: 3vh;
        width: 100%;
    }

    .theprocess {
        margin-left: 5vw;
        margin-right: 5vw;
        margin-top: 10vh;
    }

    .theprocess h3 {
        font-size: 16pt;
        padding-top: 5vh;
    }

    .theprocess h4 {
        font-size: 14pt;
        padding-top: 5vh;
    }

    .theprocess img {
        width: 100%;
    }

    .lowpair img {
        padding-top: 0;
    }

    .designsystem {
        flex-wrap: wrap;
    }

    .designsystem h3 {
        padding-top: 0;
    }

    .designsystem h4 {
        padding-top: 0;
    }

    .designsystem img {
        padding-top: 0;
    }

    footer {
        height: auto;
        padding-bottom: 20px;
        padding-top: 10vh;
        padding-left: 20px;
        padding-right: 20px;
        display: flex;
        justify-content: center;
    }
}