@import url('https://fonts.googleapis.com/css2?family=Montserrat:ital,wght@0,100..900;1,100..900&display=swap');

body {
    color: whitesmoke;
    background-color: black;
    font-family: 'Montserrat', sans-serif;
    font-size: 12pt;
    font-weight: 300;
    line-height: 1.5;
    margin: 0;
}

h1 {
    color: #E6BE8A;
    font-family: 'Montserrat', sans-serif;
    font-size: 48pt;
    font-weight: 500;
    line-height: normal;
}

h2 {
    color: whitesmoke;
    font-family: 'Montserrat', sans-serif;
    font-size: 24pt;
    font-weight: 300;
    line-height: normal;
    text-transform: uppercase;
}

h3 {
    color: #E6BE8A;
    font-family: 'Montserrat', sans-serif;
    font-size: 36pt;
    font-weight: 500;
}

header {
    height: 660px;
    background-color: #232323;
    padding-left: 80px;
    display: flex;
    align-items: center;
    justify-content: space-between;
}

#profile {
    width: 660px;
    height: 660px;
    margin-left: 140px;
}

.navbar {
    height: 40px;
    background-color: #232323;
    display: flex;
    gap: 40px;
}

.background {
    height: 600px;
    padding-left: 80px;
    padding-right: 80px;
    display: flex;
    flex-direction: column;
    justify-content: center;
}

#background {
    height: 400px;
    width: max-content;
    align-self: center;
}

.projects {
    height: 800px;
    padding-left: 80px;
    padding-right: 80px;
    display: flex;
    flex-direction: column;
    justify-content: center;
}

thead {
    font-size: 12pt;
    text-transform: uppercase;
}

tbody {
    font-size: 10pt;
}

th {
    width: 50px;
    padding-left: 16px;
    padding-right: 16px;
    padding-bottom: 16px;
}

td {
    vertical-align: top;
    padding-left: 16px;
    padding-right: 16px;
    padding-top: 8px;
    padding-bottom: 8px;
}

.content {
    background-color: #232323;
    height: 860px;
    padding-left: 80px;
    padding-right: 80px;
    display: flex;
    flex-direction: column;
    justify-content: center;
}

.content nav {
    display: flex;
    align-items: center;
    justify-content: space-between;
}

.content nav .contentimage {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    text-transform: uppercase;
}

.content nav img {
    height: 460px;
    padding-bottom: 40px;
    filter: drop-shadow(8px 8px 8px rgb(26, 26, 26));
}

.content nav img:hover {
    transform: scale(1.1);
    transition: all 0.3s ease;
}

a {
    color: whitesmoke;
    text-decoration: none;
    font-weight: 400;
}

a:hover {
    color: #E6BE8A;
    text-decoration: none;
    font-weight: 400;
}

img {
    height: 500px;
}

.projectimg {
    padding: 80px;
    display: flex;
    flex-direction: column;
    justify-content: center;
}

#excercise {
    height: 660px;
    padding-right: 80px;
    display: flex;
    align-items: center;
    justify-content: space-between;
}

#map {
    background-color: #232323;
    height: 660px;
    padding-left: 80px;
    display: flex;
    align-items: center;
    justify-content: space-between;
}

#data {
    height: 660px;
    padding-right: 80px;
    display: flex;
    align-items: center;
    justify-content: space-between;
}

#smoke {
    background-color: #232323;
    height: 660px;
    padding-left: 80px;
    display: flex;
    align-items: center;
    justify-content: space-between;
}

#news {
    height: 660px;
    padding-right: 80px;
    display: flex;
    align-items: center;
    justify-content: space-between;
}

#contact {
    height: 320px;
    padding-left: 80px;
    padding-right: 80px;
}

.formlink {
    color: whitesmoke;
    text-decoration: none;
    font-weight: 400;
}

footer {
    background-color: #232323;
    height: 160px;
    padding-left: 80px;
    padding-right: 80px;
    display: flex;
    align-items: center;
    justify-content: space-between;
}